* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.btn:link,
.btn:visited {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    border-radius: 9px;
    background-color: #e67e22;
    padding: 16px 32px;
    text-decoration: none;;

}
.btn:hover {
    background-color: aquamarine;
    cursor: pointer;
}

html {
    font-family: "Rubik", sans-serif;
    color: #444;
}

.container {
    margin: 0 auto;
    width: 1200px;

}

header {
    position: relative;
    height: 100vh;
    
}


/* navbar */

nav {

    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    
   
    

    
    
}

h1 {
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
    
}

p {
    font-size: 32px;
    margin-bottom: 48px;
    line-height: 1.6;
}



.header_container {
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header_container-inner {
    width: 50%;
}

